#gameScene{
    display: none;
}
body{
    margin: 0;
    padding: 0;
    background-color: khaki;
    background-image: url("camera-shutter.png");
    background-size: 60px;
    background-repeat: space;
}
header{
    height: 40px;
    margin: 0 auto;
    padding: 0;
    background-color: blueviolet;
    width: 600px;
    text-align: center;
}
#main{
    height: 600px;
    margin: 0px auto;
    padding: 0;
    background-color: lightcyan;
    width: 600px;
    text-align: center;
}
#start{
    font-size: 25px;
    background-color: blueviolet;
    margin: 300px auto;
    cursor: pointer;
    padding: 10px;
	cursor: pointer;

	border-radius: 5px;
}
#gameScene, #output{
    position: relative;
    top: 200px;
}
#question, #answer{
    margin: 10px;
    font-size: 20px;
}
#question{
    margin-top: 0px;
}
#output{
    margin: 10px;

}
#restart{
    display: none;
    margin: 0px auto;
    padding: 20px;
}
#dog{
    display: none;
    margin: 0px auto;
    padding: 20px;

}
#next, #submit, #quit, #restart{
    font-size: 16px;
    color: yellow;
    cursor: pointer;
    padding: 5px;
    cursor: pointer;
    background-color: blueviolet;
}