#gameScene{
    display: none;
}
body{
    margin: 0;
    padding: 0;
    background-color: khaki;
}
header{
    height: 40px;
    margin: 0 auto;
    padding: 0;
    background-color: blueviolet;
    width: 600px;
    text-align: center;
}
#main{
    height: 600px;
    margin: 0px auto;
    padding: 0;
    background-color: lightcyan;
    width: 600px;
    text-align: center;
}
#start{
    font-size: 25px;
    color: rgb(134, 102, 68);
    margin: 300px auto;
    cursor: pointer;
    padding: 10px;
	cursor: pointer;
	color: white;

	border-radius: 5px;

	background: -webkit-linear-gradient(top, rgb(211, 181, 148), rgb(134, 102, 68));
	background: -moz-linear-gradient(top, rgb(211, 181, 148), rgb(134, 102, 68));
	background: linear-gradient(top, rgb(211, 181, 148), rgb(134, 102, 68));

	-webkit-box-shadow: 0px 5px 8px 3px rgba(255,255,255,0.3);
	-moz-box-shadow: 0px 5px 8px 3px rgba(255,255,255,0.3);
	box-shadow: 0px 5px 8px 3px rgba(255,255,255,0.3);
}
#gameScene, #output{
    position: relative;
    top: 200px;
}
#question, #answer{
    margin: 10px;
    font-size: 20px;
}
#output{
    margin: 10px;

}
#restart{
    display: none;
    position: relative;
    top: 300px;
    left: 48%;
}
#next, #submit, #quit, #restart{
    font-size: 16px;
    color: yellow;
    cursor: pointer;
    padding: 5px;
    cursor: pointer;
    background-color: blueviolet;
}