
h1 {
    text-align: center;
    font-family: 'AvaraBold'; 
    font-weight: normal; 
    font-style: normal;
    border: 0px;
    margin-top: 15px;
    margin-bottom: 0px;
    padding: 0px;
}
header{
    background-color:rgb(42, 119, 206);
    padding: 30px;
}
body {
    line-height: 0px;
    width: 700px;
    height: 700px;;
}
html, body{
    padding: 0px;
    margin: 0px;
    align-content: center;
}
.background{
    background-image: url("background.jpg");
    background-size: 700px 700px;
	background-repeat: no-repeat;
    background-position:center;
}
.chessboard{
    position: static;
    width: 550px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding: 75px;
    margin: 0px;
    border: 0px;
    padding-top: 30px;
    padding-bottom: 30px;    
}
.black, .white{
    width: 12%;
    height: 66px;
    background-color: black;
    display: inline;
    position: static;
    float: left;
    vertical-align: middle;
}
.white{
    background-color: white;
}
footer{
    background-color:lightskyblue;
    text-align: center;
}
footer a{
    padding: 5px;
    display: block;
}